/node_modules
/.claude
/.user_artifacts
/Dockerfile
/docker-compose
/.dockerignore
/public
reports
driver-logs

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
