.trainArea {
  display: grid;
  grid-template-rows: minmax(220px, auto);
  height: 400px;
  width: 700px;
  background: #e6e6fa;
  border: 1px solid lightslategray;
  border-radius: 7px;
}

#wordItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background: #ffe8f0;
  border: 1px solid lightslategray;
  border-radius: 8px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 5px;
}

.itemArea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px 80px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 4px;
}

.itemArea > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8ff;
  border: 1px solid lightslategray;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.itemArea > div:hover {
  cursor: pointer;
  background: #f2f2fd;
}

.itemArea p {
  margin-bottom: 0%;
}

.finishBtnArea {
  display: flex;
  justify-content: center;
  height: fit-content;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 5px;
}
