.myBtn {
  height: 45px;
  width: 135px;
  border-radius: 10px;
  border: 1px solid rgb(118, 129, 145);
  margin-left: 5px;
  margin-right: 5px;
  font-size: 19px;
  font-weight: 600;
  font-style: inherit;
}

.myBtn:hover {
  cursor: pointer;
}

.arrowBtn {
  height: 45px;
  width: 80px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  border: 1px solid rgb(118, 129, 145);
  background-color: #f6fbd9;

}

.arrowBtn:hover {
  cursor: pointer;
  background-color: #f1fbb0;
}

#findNewBtn {
  background-color: #c4bafe;
}

#findNewBtn:hover {
  background-color: #beb2ff;
}

#repeatBtn {
  background-color: #fed4af;
}

#repeatBtn:hover {
  background-color: #fbcea6;
}

#clearBtn {
  background-color: #ffe4c4;
}

#clearBtn:hover {
  background-color: #f8debf;
}

#checkBtn {
  background-color: #f3dbf3;
}

#checkBtn:hover {
  background-color: #f0d3f0;
}

#suggestBtn {
  background-color: #fffacd;
}

#suggestBtn:hover {
  background-color: #faf3bb;
}

.dictionaryRoot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 150px;
  justify-content: center;
  grid-gap: 10px;
  height: 100%;
}

.dictionaryRoot > button {
  min-width: 400px;
  max-width: 700px;
}

.dictionary {
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid lightslategray;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 150px;
}

.dictionary:hover {
  cursor: pointer;
  opacity: 0.9;
}

.initItem {
  background-color: #a8f1f1;
}

.myProgressBar {
  display: grid;
  height: 12px;
  min-width: auto;
  margin-bottom: 40px;
  background-color: #e6e6f0;
  border: solid 1px lightslategray;
  border-radius: 10px;
}

.c-modal {
  z-index: 1;
}

.c-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.c-window {
  height: 160px;
  width: 450px;
  margin: 0 auto;
  margin-top: calc(100vh - 700px);
  background: #f5f5f5;
  border-radius: 5px;
}

.c-modal-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background: #e0e0e0;
}

.c-modal-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.c-modal-close {
  cursor: pointer;
}

.c-modal-body {
  border-top: 1px solid #d3d3d3;
  height: 70px;
}

.c-modal-body > p {
  margin: 0 0 5px;
  padding: 5px 10px;
  font-size: 18px;
}

.c-modal-footer {
  display: flex;
  justify-content: end;
  border-top: 1px solid #d3d3d3;
}

.c-modal-footer > button {
  margin: 8px 3px;
  border: 1px solid #191919;
  border-radius: 3px;
  height: 30px;
  width: 60px;
}

.c-modal-delete {
  background: #ffb2b2;
}

.c-modal-delete:hover {
  opacity: 0.8;
}

.c-modal-cancel {
  background: #cccccc;
}

.c-modal-cancel:hover {
  opacity: 0.8;
}

.gptInputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

#gptKey {
  height: 50px;
  margin-right: 5px;
}

#gptModel {
  height: 50px;
  margin-left: 5px;
}
