.rootArea {
  height: 400px;
  min-width: 800px;
  max-width: auto;
  background: #E6E6FA;
  border: 1px solid lightslategray;
  border-radius: 7px;
}

.spellArea {
  display: grid;
  grid-auto-rows: 110px;
  height: 220px;
  width: auto;
  margin: 5px;
}

#translateDiv {
  text-align: center;
  line-height: 100px;
  font-size: 25px;
  font-weight: 600;
  border-top: 1px solid lightslategray;
  border-left: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
  background-color: #FFE8F0;
}

#wordDiv {
  display: grid;
  grid-column-gap: 5px;
  background-color: #FFE8F0;
  border: 1px solid lightslategray;
}

#wordDiv > div {
  height: 90px;
  line-height: 90px;
  margin-top: 10px;
}

#charArea {
  display: grid;
  height: 90px;
  grid-auto-rows: 90px;
  grid-column-gap: 5px;
  line-height: 90px;
  margin: 5px;
}

.char {
  background: #F8F8FF;
  border: 1px solid lightslategray;
  border-radius: 15px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.char:hover {
  cursor: pointer;
  background: #F2F2FD;
}

.charSpan {
  background-color: #73e373;
  border: 1px solid rgb(91, 91, 91);
}

.accessChar {
  background: #94FF94;
}

.wrongChar {
  background: #FF8C8C;
}

.btnDiv {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}