.cardWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.alphabetRoot {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.alphaChar {
  background-color: #f9ecec;
  border: 1px solid lightcoral;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
}

.alphaChar:hover {
  cursor: pointer;
  background-color: #f2d9d9;
  font-weight: 600;
}

.cardRoot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 400px;
  width: 600px;
  background: #e6e6ff;
  border: 1px solid lightslategray;
  border-radius: 3px;
}

.cardWordArea {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  background: #F5FFFA;
  border: 1px solid lightslategray;
  border-radius: 3px;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 26px;
}

.cardWordArea > div > input {
  height: 30px;
  width: auto;
  background-color: inherit;
  border: none;
  text-align: center;
}

.cardWordArea > div > input:focus {
  border: 1px solid #aaaaaa;
}

.cardWordArea:hover {
  cursor: zoom-in;
}

.cardBtnDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

#studyBtn {
  background: #bdf7f7;
}

#studyBtn:hover {
  background-color: #a8f7f7;
}

#startTrainBtn {
  background-color: #ffabe3;
}

#startTrainBtn:hover {
  background-color: #ff9cde;
}

#goOnBtn {
  background: #e0e0d1;
}

#goOnBtn:hover {
  background-color: #d6d6c2;
}

#changeBtn {
  background-color: #f8f8cc;
}

#changeBtn:hover {
  background-color: #f5f5b1;
}

#cancelBtn {
  background-color: #dcdcdc;
}

#cancelBtn:hover {
  background-color: #d8d5d5;
}

#deleteBtn {
  position: relative;
  top: 1%;
  right: -3%;
  height: 20px;
  width: 20px;
}
