.cardRoot {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 400px;
  width: 600px;
  background: #e6e6fa;
  border: 1px solid lightslategray;
  border-radius: 3px;
}

.cardWordArea {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  background: #fbebf1;
  border: 1px solid lightslategray;
  border-radius: 3px;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 26px;
}

.cardWordArea > div > input {
  height: 30px;
  width: auto;
  background-color: inherit;
  border: none;
  text-align: center;
}

.cardWordArea > div > input:focus {
  border: 1px solid #aaaaaa;
}

.cardWordArea:hover {
  cursor: zoom-in;
}

#knowBtn {
  background-color: #caffca;
}

#knowBtn:hover {
  background-color: #b7fcb7;
}

#studyBtn {
  background: #bdf7f7;
}

#studyBtn:hover {
  background-color: #a8f7f7;
}

#startTrainBtn {
  background-color: #ffabe3;
}

#startTrainBtn:hover {
  background-color: #ff9cde;
}

#goOnBtn {
  background: #e0e0d1;
}

#goOnBtn:hover {
  background-color: #d6d6c2;
}

#changeBtn {
  background-color: #f8f8cc;
}

#changeBtn:hover {
  background-color: #f5f5b1;
}

#cancelBtn {
  background-color: #dcdcdc;
}

#cancelBtn:hover {
  background-color: #d8d5d5;
}

#deleteBtn {
  position: relative;
  top: 1%;
  right: -3%;
  height: 20px;
  width: 20px;
}
